@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Header{

}

.SearchDiv{
  border:2px solid red;
  max-height: 20%;
  width:100%;
}